%# -*- mode: erlang -*-
[
{kernel,
  [{logger,
    [{handler, default, logger_std_h, 
      #{level => error,
        config => #{file => "logs/ragno-error.log"}}},
     {handler, info, logger_std_h,
      #{level => debug,
        config => #{file => "logs/ragno-debug.log"}}}
    ]}]},
 {ragno,
  [
   {cowboy_port, 8080},
   {crawler_data_directory, "data"},
   {crawler_fetch_timeout, 12},	
   {crawler_default_options, [
			      extract_external_domains,
			      extract_external_links,
			      {extract_regex_data, [
						    {og_description, "og:description\" content ?= ?\"(?P<A>[^\"]+)\""},
						    {og_image, "og:image\" content ?= ?\"(?P<A>[^\"]+)\""},
						    {og_title, "og:title\" content ?= ?\"(?P<A>[^\"]+)\""},
						    {og_type, "og:type\" content ?= ?\"(?P<A>[^\"]+)\""},
						    {og_url, "og:url\" content ?= ?\"(?P<A>[^\"]+)\""}
						   ]},
			      extract_samedomain_links,
			      extract_subdomains,
			      extract_tags,
			      extract_social,
			      final_links, %% useful for removing short urls
			      %% crawl_subdomains, %% does not work, should skip duplicates
			      {remove_headers, ["etag", 
						"keep-alive", 
						"age", 
						"max-age"]},
			      {save_to_file, json}
			     ]},
   {pool_workers, 30} %,
  %% {httpc_options,
   %% [
     %% {proxy, {{"proxy.local", 80},
     %% 	      ["localhost", "127.0.0.1"]}}
   %% ]}
  ]}
].
