[{ragno,
	[
		{cowboy_port, 8080},
		{crawler_data_directory, "data"},
		{crawler_fetch_timeout, 8},	
		{pool_workers, 10},
		{crawler_default_options, [
			  extract_external_domains,
			  extract_external_links,
			  extract_samedomain_links,
			  extract_subdomains,
			  extract_tags,
			  extract_social,		
			  {remove_headers, ["etag", "keep-alive", "age", "max-age"]},
			  {save_to_file, json}
			 ]}
		]}
].
